# **Car Market Analysis**

## **1. Project Overview**

## **2. Setup and Imports**
Initialize the analysis environment and configure display and visualization settings.

In [1]:
import pandas as pd # For data manipulation and analysis, especially for working with DataFrames
import numpy as np # For numerical computations and array manipulations
import matplotlib.pyplot as plt # For creating static, interactive, and animated visualizations
import seaborn as sns # For advanced data visualization, e.g. with built-in datasets

pd.options.display.max_columns = None # Specifies that Pandas should display all columns, helpful for EDA
pd.options.display.width = 120 # Controls how wide Pandas displays the DataFrame before it wraps rows or hides columns
sns.set_theme(style="whitegrid") # Sets a global visual style for all Seaborn plots (white background, subtle grid lines)

## **3. Data Loading**
Load the dataset from the GitHub repository to ensure reproducibility of the analysis.

In [2]:
# Connect to car dataset on GitHub repository
url = "https://raw.githubusercontent.com/t-jor/car-market-analysis/main/data/data.csv"

### **Data Processing Stages**

To ensure transparency and reproducibility, the dataset is handled in
distinct processing stages throughout the analysis:

- **df_car_raw**: original dataset as loaded
- **df_car_clean**: cleaned dataset (quality fixes, missing values, standardization)
- **df_car_analysis**: analysis-ready dataset (filters and engineered features)

In [3]:
# Load dataset and create DataFrame | Processing Stage: "RAW"
df_car_raw = pd.read_csv(url)

# Verify that the dataset was loaded successfully
df_car_raw.shape

(11914, 16)

## **4. Data Inspection**
The following steps are used to understand the structure, size, and quality of the dataset before applying any cleaning or transformations.

In [4]:
# Check the number of rows and columns to get a quick overview of the dataset size.
df_car_raw.shape

(11914, 16)

In [5]:
# Inspect the first rows to understand the overall structure, column names, and typical values.
df_car_raw.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [6]:
# Inspect the last rows to ensure consistency and detect potential issues at the end of the data.
df_car_raw.tail()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [7]:
# Review column data types and non-null counts to identify potential type issues and missing values.
df_car_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [8]:
# Examine summary statistics to understand value ranges, distributions, and categorical characteristics.
df_car_raw.describe().T

                    count          mean           std     min      25%      50%       75%        max
Year              11914.0   2010.384338      7.579740  1990.0   2007.0   2015.0   2016.00     2017.0
Engine HP         11845.0    249.386070    109.191870    55.0    170.0    227.0    300.00     1001.0
Engine Cylinders  11884.0      5.628829      1.780559     0.0      4.0      6.0      6.00       16.0
Number of Doors   11908.0      3.436093      0.881315     2.0      2.0      4.0      4.00        4.0
highway MPG       11914.0     26.637485      8.863001    12.0     22.0     26.0     30.00      354.0
city mpg          11914.0     19.733255      8.987798     7.0     16.0     18.0     22.00      137.0
Popularity        11914.0   1554.911197   1441.855347     2.0    549.0   1385.0   2009.00     5657.0
MSRP              11914.0  40594.737032  60109.103604  2000.0  21000.0  29995.0  42231.25  2065902.0

In [9]:
# The extended summary statistics include categorical information such as the number of unique values per column, the most frequent value, and its frequency, providing additional context for non-numeric features.
df_car_raw.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Make,11914,48,Chevrolet,1123,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Model,11914,915,Silverado 1500,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,11914.0,NaN,NaN,NaN,2010.384338,7.57974,1990.0,2007.0,2015.0,2016.0,2017.0
Engine Fuel Type,11911,10,regular unleaded,7172,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Engine HP,11845.0,NaN,NaN,NaN,249.38607,109.19187,55.0,170.0,227.0,300.0,1001.0
Engine Cylinders,11884.0,NaN,NaN,NaN,5.628829,1.780559,0.0,4.0,6.0,6.0,16.0
Transmission Type,11914,5,AUTOMATIC,8266,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Driven_Wheels,11914,4,front wheel drive,4787,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of Doors,11908.0,NaN,NaN,NaN,3.436093,0.881315,2.0,2.0,4.0,4.0,4.0
Market Category,8172,71,Crossover,1110,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vehicle Size,11914,3,Compact,4764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vehicle Style,11914,16,Sedan,3048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
highway MPG,11914.0,NaN,NaN,NaN,26.637485,8.863001,12.0,22.0,26.0,30.0,354.0
city mpg,11914.0,NaN,NaN,NaN,19.733255,8.987798,7.0,16.0,18.0,22.0,137.0
Popularity,11914.0,NaN,NaN,NaN,1554.911197,1441.855347,2.0,549.0,1385.0,2009.0,5657.0
MSRP,11914.0,NaN,NaN,NaN,40594.737032,60109.103604,2000.0,21000.0,29995.0,42231.25,2065902.0

In [10]:
# Identify how many values are missing per column to inform data cleaning decisions.
df_car_raw.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [11]:
# Check the number of unique values per column to distinguish categorical variables from identifiers.
df_car_raw.nunique()

Make                   48
Model                 915
Year                   28
Engine Fuel Type       10
Engine HP             356
Engine Cylinders        9
Transmission Type       5
Driven_Wheels           4
Number of Doors         3
Market Category        71
Vehicle Size            3
Vehicle Style          16
highway MPG            59
city mpg               69
Popularity             48
MSRP                 6049
dtype: int64

In [12]:
# Quick overview of categories (top values)
for col in ["Engine Fuel Type", "Transmission Type", "Driven_Wheels", "Vehicle Size", "Vehicle Style"]:
    print(f"\n{col}")
    display(df_car_raw[col].value_counts(dropna=False))

Engine Fuel Type

Engine Fuel Type
regular unleaded                                7172
premium unleaded (required)                     2009
premium unleaded (recommended)                  1523
flex-fuel (unleaded/E85)                         899
diesel                                           154
electric                                          66
flex-fuel (premium unleaded required/E85)         54
flex-fuel (premium unleaded recommended/E85)      26
flex-fuel (unleaded/natural gas)                   6
NaN                                                3
natural gas                                        2
Name: count, dtype: int64

Transmission Type

Transmission Type
AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: count, dtype: int64

Driven_Wheels

Driven_Wheels
front wheel drive    4787
rear wheel drive     3371
all wheel drive      2353
four wheel drive     1403
Name: count, dtype: int64

Vehicle Size

Vehicle Size
Compact    4764
Midsize    4373
Large      2777
Name: count, dtype: int64

Vehicle Style

Vehicle Style
Sedan                  3048
4dr SUV                2488
Coupe                  1211
Convertible             793
4dr Hatchback           702
Crew Cab Pickup         681
Extended Cab Pickup     623
Wagon                   592
2dr Hatchback           506
Passenger Minivan       417
Regular Cab Pickup      392
2dr SUV                 138
Passenger Van           128
Cargo Van                95
Cargo Minivan            71
Convertible SUV          29
Name: count, dtype: int64

### **Initial Observations**

Based on the initial data inspection, several noteworthy patterns and potential issues emerge:

- The *Market Category* column contains a substantial number of missing values, which may affect segment-based analyses.
- The *Engine Cylinders* column includes zero values, suggesting either electric vehicles or potential data inconsistencies that require further investigation.
- The dataset spans vehicles from 1990 to 2017, a period during which vehicle technology and efficiency evolved significantly.
- Key numerical variables such as *MSRP*, *Engine HP*, and *Popularity* appear to be strongly right-skewed, with high variance and extreme outliers.
- Some other numerical features may show more symmetric distributions, which will be validated in later exploratory analysis.

These observations inform the data cleaning and exploratory analysis steps that follow.

## **5. Data Cleaning**
Resolve missing values, apply domain-driven assumptions (e.g., electric vs. combustion engines), remove non-informative features, and standardize variables to prepare the dataset for robust analysis.

In [13]:
# Make a copy to keep original data & create DataFrame for cleaning | Processing Stage: "CLEAN"
df_car_clean = df_car_raw.copy()

In [14]:
df_car_clean.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### **5.1 Missing Data - Summary of Findings and Decisions**

**5.1.0**

During the data inspection phase, missing values were identified in five columns:
Market Category, Engine HP, Engine Cylinders, Number of Doors, and Engine Fuel Type.
These missing values differ substantially in both frequency and analytical relevance.

**5.1.1**

Columns with only a negligible number of missing values (Number of Doors and Engine Fuel Type)
were removed directly, as they have minimal impact on the overall analysis and cannot be
reliably inferred without external information.

**5.1.2**

Engine Cylinders required deeper inspection. Zero-cylinder values were validated as correct
for electric vehicles, and missing cylinder values for rotary engines were identified as a
structural characteristic of Wankel engines rather than data errors. To reflect these
fundamental differences, an additional Engine Type classification was introduced
(combustion, electric, rotary).

**5.1.3**

Missing Engine HP values were then analyzed by engine type. The majority of missing values
occurred for electric vehicles, where power ratings are often reported inconsistently and are
not directly comparable to combustion engines. In contrast, missing horsepower values for
combustion engines were rare and treated as data quality issues.

Although electric and rotary vehicles were handled consistently from a data quality
perspective, their very small sample sizes relative to combustion vehicles, combined with
limited comparability of key performance metrics, would significantly constrain meaningful
analysis. Therefore, to ensure analytical focus, data completeness, and comparability, the
final dataset was restricted to combustion-engine vehicles.

**5.1.4**

Finally, the Market Category column was removed due to a high proportion of missing values,
a very high cardinality, and ambiguous multi-label semantics. Vehicle Style provides a more
consistent and interpretable categorical representation for downstream analysis.

#### **5.1.0 Missing Data - Overview**

To support informed data cleaning decisions, the proportion of missing values is calculated for each column.  
This allows distinguishing between negligible missingness and structurally relevant gaps in the data.

In [15]:
total_rows = len(df_car_raw)
missing_counts = df_car_raw.isna().sum()
missing_share = ((missing_counts / total_rows) * 100).round(2)

missing_summary = (
    pd.DataFrame({
        "Missing": missing_counts,
        "Share (%)": missing_share
    })
    .query("Missing > 0")
    .sort_values("Missing", ascending=False)
)

missing_summary

                  Missing  Share (%)
Market Category      3742      31.41
Engine HP              69       0.58
Engine Cylinders       30       0.25
Number of Doors         6       0.05
Engine Fuel Type        3       0.03

#### **5.1.1 Number of Doors and Engine Fuel Type - Drop Missing Data**

In [16]:
# Missing Data before Cleaning
df_car_clean[["Number of Doors", "Engine Fuel Type"]].isna().sum()

Number of Doors     6
Engine Fuel Type    3
dtype: int64

In [17]:
# Drop Missing Data
df_car_clean = df_car_clean.dropna(
    subset=["Number of Doors", "Engine Fuel Type"]
)

In [18]:
# Missing Data after Cleaning
df_car_clean[["Number of Doors", "Engine Fuel Type"]].isna().sum()

Number of Doors     0
Engine Fuel Type    0
dtype: int64

#### **5.1.2 Engine Cylinders - Zero Values**
All vehicles with zero engine cylinders are electric vehicles. Since electric cars do not have combustion engines, a value of 0 cylinders is semantically correct and is therefore retained.

A small number of electric vehicles with non-zero cylinder values exist in the dataset, which likely reflects data inconsistencies. Given their low proportion, no corrective action is taken at this stage.

In [19]:
# ZERO Value: Investigate rows with Engine Cylinders == 0 (potentially electric vehicles)
cyl0 = df_car_clean.loc[df_car_clean["Engine Cylinders"] == 0,
                  ["Make", "Model", "Year", "Engine Fuel Type", "Engine HP", "Engine Cylinders"]]

cyl0.head(10)

               Make                   Model  Year Engine Fuel Type  Engine HP  Engine Cylinders
539            FIAT                    500e  2015         electric        NaN               0.0
540            FIAT                    500e  2016         electric        NaN               0.0
541            FIAT                    500e  2017         electric        NaN               0.0
1680  Mercedes-Benz  B-Class Electric Drive  2015         electric      177.0               0.0
1681  Mercedes-Benz  B-Class Electric Drive  2016         electric      177.0               0.0
1682  Mercedes-Benz  B-Class Electric Drive  2017         electric      177.0               0.0
4705          Honda                  Fit EV  2013         electric        NaN               0.0
4706          Honda                  Fit EV  2014         electric        NaN               0.0
4785           Ford                   Focus  2015         electric        NaN               0.0
4789           Ford                   Focus  2016         electric        NaN               0.0

In [20]:
# ZERO Value: Check Engine Fuel Types for Engine Cylinders = Zero
cyl0["Engine Fuel Type"].value_counts(dropna=False)

Engine Fuel Type
electric    51
Name: count, dtype: int64

In [21]:
# ZERO Value: Cross-check relationship between Engine Fuel Type and Engine Cylinders = Zero
pd.crosstab(df_car_raw["Engine Fuel Type"], df_car_raw["Engine Cylinders"] == 0)

Engine Cylinders                              False  True
Engine Fuel Type
diesel                                          154      0
electric                                         10     56
flex-fuel (premium unleaded recommended/E85)     26      0
flex-fuel (premium unleaded required/E85)        54      0
flex-fuel (unleaded/E85)                        899      0
flex-fuel (unleaded/natural gas)                  6      0
natural gas                                       2      0
premium unleaded (recommended)                 1523      0
premium unleaded (required)                    2009      0
regular unleaded                               7172      0

#### **5.1.2 Engine Cylinders - NaN Values**
Initially, missing cylinder values occurred for both electric and rotary vehicles.
Missing values for electric vehicles were converted to 0 cylinders, as they do not
have combustion engines.

The remaining missing values are limited to rotary (Wankel) engine vehicles, for which
cylinder counts are not defined. To explicitly capture these fundamental differences,
a new *Engine Type* classification was introduced (values: combustion, electric, rotary).

In [22]:
# NaN: Inspect rows with missing data for Engine Cylinders
missing_cyl = df_car_clean[df_car_clean["Engine Cylinders"].isna()]

missing_cyl[[
    "Make", "Model", "Year", "Engine Fuel Type", "Engine HP", "Engine Cylinders"
]]

            Make    Model  Year             Engine Fuel Type  Engine HP  Engine Cylinders
1983   Chevrolet  Bolt EV  2017                     electric      200.0               NaN
1984   Chevrolet  Bolt EV  2017                     electric      200.0               NaN
3716  Volkswagen   e-Golf  2015                     electric      115.0               NaN
3717  Volkswagen   e-Golf  2015                     electric      115.0               NaN
3718  Volkswagen   e-Golf  2016                     electric      115.0               NaN
3719  Volkswagen   e-Golf  2016                     electric      115.0               NaN
5778  Mitsubishi   i-MiEV  2014                     electric        NaN               NaN
5779  Mitsubishi   i-MiEV  2016                     electric       66.0               NaN
5780  Mitsubishi   i-MiEV  2017                     electric       66.0               NaN
8373      Toyota  RAV4 EV  2012                     electric      154.0               NaN
8695       Mazda     RX-7  1993             regular unleaded      255.0               NaN
8696       Mazda     RX-7  1994             regular unleaded      255.0               NaN
8697       Mazda     RX-7  1995             regular unleaded      255.0               NaN
8698       Mazda     RX-8  2009  premium unleaded (required)      232.0               NaN
8699       Mazda     RX-8  2009  premium unleaded (required)      212.0               NaN
8700       Mazda     RX-8  2009  premium unleaded (required)      232.0               NaN
8701       Mazda     RX-8  2009  premium unleaded (required)      232.0               NaN
8702       Mazda     RX-8  2009  premium unleaded (required)      232.0               NaN
8703       Mazda     RX-8  2009  premium unleaded (required)      212.0               NaN
8704       Mazda     RX-8  2009  premium unleaded (required)      212.0               NaN
8705       Mazda     RX-8  2010  premium unleaded (required)      232.0               NaN
8706       Mazda     RX-8  2010  premium unleaded (required)      212.0               NaN
8707       Mazda     RX-8  2010  premium unleaded (required)      212.0               NaN
8708       Mazda     RX-8  2010  premium unleaded (required)      232.0               NaN
8709       Mazda     RX-8  2010  premium unleaded (required)      232.0               NaN
8710       Mazda     RX-8  2011  premium unleaded (required)      212.0               NaN
8711       Mazda     RX-8  2011  premium unleaded (required)      232.0               NaN
8712       Mazda     RX-8  2011  premium unleaded (required)      232.0               NaN
8713       Mazda     RX-8  2011  premium unleaded (required)      232.0               NaN
8714       Mazda     RX-8  2011  premium unleaded (required)      212.0               NaN

In [23]:
# NaN: Set Engine Cylinders to 0 for electric vehicles
df_car_clean.loc[
    (df_car_clean["Engine Fuel Type"] == "electric") &
    (df_car_clean["Engine Cylinders"].isna()),
    "Engine Cylinders"
] = 0

In [24]:
# NaN: Check rows with missing Engine Cylinders after cleaning
missing_cyl = df_car_clean[df_car_clean["Engine Cylinders"].isna()]

missing_cyl[[
    "Make", "Model", "Year", "Engine Fuel Type", "Engine HP", "Engine Cylinders"
]]

       Make Model  Year             Engine Fuel Type  Engine HP  Engine Cylinders
8695  Mazda  RX-7  1993             regular unleaded      255.0               NaN
8696  Mazda  RX-7  1994             regular unleaded      255.0               NaN
8697  Mazda  RX-7  1995             regular unleaded      255.0               NaN
8698  Mazda  RX-8  2009  premium unleaded (required)      232.0               NaN
8699  Mazda  RX-8  2009  premium unleaded (required)      212.0               NaN
8700  Mazda  RX-8  2009  premium unleaded (required)      232.0               NaN
8701  Mazda  RX-8  2009  premium unleaded (required)      232.0               NaN
8702  Mazda  RX-8  2009  premium unleaded (required)      232.0               NaN
8703  Mazda  RX-8  2009  premium unleaded (required)      212.0               NaN
8704  Mazda  RX-8  2009  premium unleaded (required)      212.0               NaN
8705  Mazda  RX-8  2010  premium unleaded (required)      232.0               NaN
8706  Mazda  RX-8  2010  premium unleaded (required)      212.0               NaN
8707  Mazda  RX-8  2010  premium unleaded (required)      212.0               NaN
8708  Mazda  RX-8  2010  premium unleaded (required)      232.0               NaN
8709  Mazda  RX-8  2010  premium unleaded (required)      232.0               NaN
8710  Mazda  RX-8  2011  premium unleaded (required)      212.0               NaN
8711  Mazda  RX-8  2011  premium unleaded (required)      232.0               NaN
8712  Mazda  RX-8  2011  premium unleaded (required)      232.0               NaN
8713  Mazda  RX-8  2011  premium unleaded (required)      232.0               NaN
8714  Mazda  RX-8  2011  premium unleaded (required)      212.0               NaN

**Remaining NaNs:**
Rows after cleaning only show vehicles with a specific engine. Rotary engine vehicles (Mazda RX-7 / RX-8) do not have conventional cylinders.
Instead of imputing cylinder counts, an explicit engine type classification
is introduced to correctly represent electric, combustion, and rotary engines.

In [25]:
# NaN: Add Engine Type classification
df_car_clean["Engine Type"] = "combustion"

df_car_clean.loc[
    df_car_clean["Engine Fuel Type"] == "electric",
    "Engine Type"
] = "electric"

df_car_clean.loc[
    (df_car_clean["Make"] == "Mazda") &
    (df_car_clean["Model"].isin(["RX-7", "RX-8"])),
    "Engine Type"
] = "rotary"

In [26]:
# NaN: Check distribution of Engine Types
df_car_clean["Engine Type"].value_counts()

Engine Type
combustion    11824
electric         61
rotary           20
Name: count, dtype: int64

In [27]:
# NaN: Check remaining missing values for Engine Cylinders by Engine Type
df_car_clean["Engine Cylinders"].isna().groupby(df_car_clean["Engine Type"]).sum()

Engine Type
combustion     0
electric       0
rotary        20
Name: Engine Cylinders, dtype: int64

#### **5.1.3 Engine HP**
Missing horsepower values were handled differently by engine type.
For combustion-engine vehicles, horsepower is a core and consistently defined attribute;
therefore, records with missing Engine HP were removed as data quality issues.
For electric vehicles, horsepower values are frequently missing or inconsistently reported, so these records were retained.

In the subsequent analysis stage, the dataset is restricted to combustion-engine vehicles to ensure metric comparability and sufficient sample size.

In [28]:
# Investigate missing data for Engine HP by Engine Type
hp_missing_summary = (
    df_car_clean
    .groupby("Engine Type")
    .agg(
        total_vehicles=("Engine HP", "size"),
        missing_hp=("Engine HP", lambda x: x.isna().sum())
    )
)

hp_missing_summary["missing_share_pct"] = (
    hp_missing_summary["missing_hp"] / hp_missing_summary["total_vehicles"] * 100
).round(2)

hp_missing_summary

             total_vehicles  missing_hp  missing_share_pct
Engine Type
combustion            11824          25               0.21
electric                 61          39              63.93
rotary                   20           0               0.00

In [29]:
# Remove records with missing Engine HP for combustion engines
df_car_clean = df_car_clean[
    ~(
        (df_car_clean["Engine Type"] == "combustion") &
        (df_car_clean["Engine HP"].isna())
    )
].copy()

In [30]:
# Check records after cleaning
df_car_clean["Engine HP"].isna().groupby(df_car_clean["Engine Type"]).sum()

Engine Type
combustion     0
electric      39
rotary         0
Name: Engine HP, dtype: int64

#### **5.1.4 Market Category**
Market Category contains highly granular, composite labels with a substantial proportion of missing values (~31%). The feature combines multiple conceptual dimensions such as vehicle form, performance, luxury, and fuel type, resulting in ambiguous, non-exclusive,
and redundant categorization.

Due to these structural issues, the feature is not suitable for reliable analysis. Vehicle Style provides a cleaner, complete, and mutually exclusive alternative for body-type segmentation.

Market Category is therefore removed during the data cleaning stage to improve overall data quality and interpretability.

In [31]:
# Compare cardinality and missing values
pd.DataFrame({
    "Unique Values": [
        df_car_clean["Market Category"].nunique(dropna=True),
        df_car_clean["Vehicle Style"].nunique()
    ],
    "Missing Values": [
        df_car_clean["Market Category"].isna().sum(),
        df_car_clean["Vehicle Style"].isna().sum()
    ]
}, index=["Market Category", "Vehicle Style"])

                 Unique Values  Missing Values
Market Category             71            3733
Vehicle Style               16               0

In [32]:
# Cross-check Market Category vs Vehicle Style
pd.crosstab(
    df_car_clean["Vehicle Style"],
    df_car_clean["Market Category"]
).iloc[:, :10]  # limited to first 10 rows

Market Category,Crossover,"Crossover,Diesel","Crossover,Exotic,Luxury,High-Performance","Crossover,Exotic,Luxury,Performance","Crossover,Factory Tuner,Luxury,High-Performance","Crossover,Factory Tuner,Luxury,Performance","Crossover,Factory Tuner,Performance","Crossover,Flex Fuel","Crossover,Flex Fuel,Luxury","Crossover,Flex Fuel,Luxury,Performance"
Vehicle Style,,,,,,,,,,
2dr Hatchback,0,0,0,0,0,0,0,0,0,0
2dr SUV,0,0,0,0,0,0,0,0,0,0
4dr Hatchback,0,0,0,0,0,0,0,0,0,0
4dr SUV,1007,7,1,1,26,5,4,43,2,0
Cargo Minivan,0,0,0,0,0,0,0,0,0,0
Cargo Van,0,0,0,0,0,0,0,0,0,0
Convertible,0,0,0,0,0,0,0,0,0,0
Convertible SUV,3,0,0,0,0,0,0,0,0,0
Coupe,0,0,0,0,0,0,0,0,0,0
Crew Cab Pickup,30,0,0,0,0,0,0,21,8,6
Extended Cab Pickup,0,0,0,0,0,0,0,0,0,0
Passenger Minivan,0,0,0,0,0,0,0,0,0,0
Passenger Van,0,0,0,0,0,0,0,0,0,0
Regular Cab Pickup,0,0,0,0,0,0,0,0,0,0
Sedan,0,0,0,0,0,0,0,0,0,0
Wagon,66,0,0,0,0,0,0,0,0,0

In [33]:
# Remove Market Category due to high missingness and ambiguous semantics
df_car_clean = df_car_clean.drop(columns=["Market Category"])

### **5.2 Data Type Conversion**
Ensure each column has an appropriate data type for reliable filtering, grouping, and analysis.

In [34]:
# Convert text columns from object to pandas 'string' dtype
text_cols = [
    "Make", "Model", "Engine Fuel Type", "Transmission Type",
    "Driven_Wheels", "Vehicle Size", "Vehicle Style", "Engine Type"
]
df_car_clean[text_cols] = df_car_clean[text_cols].astype("string")

In [35]:
# Ensure Year is integer (keep as numeric for filtering and grouping) | according to df_car_clean.info() Year has already the correct dtype
df_car_clean["Year"] = pd.to_numeric(df_car_clean["Year"], errors="coerce").astype("Int64")
df_car_clean["Year"].dtype

Int64Dtype()

In [36]:
# Cast discrete numeric columns to nullable integer
df_car_clean["Number of Doors"] = pd.to_numeric(df_car_clean["Number of Doors"], errors="coerce").astype("Int64")
df_car_clean["Engine Cylinders"] = pd.to_numeric(df_car_clean["Engine Cylinders"], errors="coerce").astype("Int64")

In [37]:
# Check Converted Data Types
df_car_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11880 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11880 non-null  string
 1   Model              11880 non-null  string
 2   Year               11880 non-null  Int64
 3   Engine Fuel Type   11880 non-null  string
 4   Engine HP          11841 non-null  float64
 5   Engine Cylinders   11860 non-null  Int64
 6   Transmission Type  11880 non-null  string
 7   Driven_Wheels      11880 non-null  string
 8   Number of Doors    11880 non-null  Int64
 9   Vehicle Size       11880 non-null  string
 10  Vehicle Style      11880 non-null  string
 11  highway MPG        11880 non-null  int64
 12  city mpg           11880 non-null  int64
 13  Popularity         11880 non-null  int64
 14  MSRP               11880 non-null  int64
 15  Engine Type        11880 non-null  string
dtypes: Int64(3), float64(1), int64(4), string(8)
memory usage: 1.6 MB

### **5.3 String Standardization**
All textual features and column names are converted to lowercase to ensure consistent grouping, filtering, and aggregation during analysis; formatting for presentation can be handled separately if needed.

In [38]:
# Standardize all text columns to lowercase for analytical consistency
for c in df_car_clean.select_dtypes(include="string").columns:
    df_car_clean[c] = df_car_clean[c].str.lower()

In [39]:
# Standardize column names: lowercase and snake_case
df_car_clean.columns = (
    df_car_clean.columns
        .str.lower()
        .str.strip()
        .str.replace(" ", "_", regex=False)
)

In [40]:
df_car_clean.head()

,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp,engine_type
0,bmw,1 series m,2011,premium unleaded (required),335.0,6,manual,rear wheel drive,2,compact,coupe,26,19,3916,46135,combustion
1,bmw,1 series,2011,premium unleaded (required),300.0,6,manual,rear wheel drive,2,compact,convertible,28,19,3916,40650,combustion
2,bmw,1 series,2011,premium unleaded (required),300.0,6,manual,rear wheel drive,2,compact,coupe,28,20,3916,36350,combustion
3,bmw,1 series,2011,premium unleaded (required),230.0,6,manual,rear wheel drive,2,compact,coupe,28,18,3916,29450,combustion
4,bmw,1 series,2011,premium unleaded (required),230.0,6,manual,rear wheel drive,2,compact,convertible,28,18,3916,34500,combustion

## **6. Filtering & Feature Engineering**
This section prepares the dataset specifically for analysis by creating a stable analysis copy and applying targeted filters to ensure temporal relevance and comparability across vehicles.

### **6.1 Filtering**
This section prepares the dataset specifically for analysis by creating a stable analysis copy and applying targeted filters to ensure temporal relevance and comparability across vehicles.

In [41]:
# Create analysis dataset as a copy of the cleaned data | Processing Stage: "ANALYSIS"
df_car_analysis = df_car_clean.copy()
df_car_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11880 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11880 non-null  string
 1   model              11880 non-null  string
 2   year               11880 non-null  Int64
 3   engine_fuel_type   11880 non-null  string
 4   engine_hp          11841 non-null  float64
 5   engine_cylinders   11860 non-null  Int64
 6   transmission_type  11880 non-null  string
 7   driven_wheels      11880 non-null  string
 8   number_of_doors    11880 non-null  Int64
 9   vehicle_size       11880 non-null  string
 10  vehicle_style      11880 non-null  string
 11  highway_mpg        11880 non-null  int64
 12  city_mpg           11880 non-null  int64
 13  popularity         11880 non-null  int64
 14  msrp               11880 non-null  int64
 15  engine_type        11880 non-null  string
dtypes: Int64(3), float64(1), int64(4), string(8)
memory usage: 1.6 MB

In [42]:
# Filter for vehicles from model year 1995 and later
df_car_analysis = df_car_analysis[df_car_analysis["year"] >= 1995]

In [43]:
# Filter for combustion engine vehicles only
df_car_analysis = df_car_analysis[
    df_car_analysis["engine_type"] == "combustion"
]
df_car_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10977 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               10977 non-null  string
 1   model              10977 non-null  string
 2   year               10977 non-null  Int64
 3   engine_fuel_type   10977 non-null  string
 4   engine_hp          10977 non-null  float64
 5   engine_cylinders   10977 non-null  Int64
 6   transmission_type  10977 non-null  string
 7   driven_wheels      10977 non-null  string
 8   number_of_doors    10977 non-null  Int64
 9   vehicle_size       10977 non-null  string
 10  vehicle_style      10977 non-null  string
 11  highway_mpg        10977 non-null  int64
 12  city_mpg           10977 non-null  int64
 13  popularity         10977 non-null  int64
 14  msrp               10977 non-null  int64
 15  engine_type        10977 non-null  string
dtypes: Int64(3), float64(1), int64(4), string(8)
memory usage: 1.5 MB

In [44]:
# Check if data has been correctly filtered
# min 'year' = '1995' / 'engine_type' only 'combustion'
df_car_analysis.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
make,10977,47,chevrolet,1062,NaN,NaN,NaN,NaN,NaN,NaN,NaN
model,10977,824,silverado 1500,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,10977.0,<NA>,<NA>,<NA>,2011.718138,5.937569,1995.0,2008.0,2015.0,2016.0,2017.0
engine_fuel_type,10977,8,regular unleaded,6342,NaN,NaN,NaN,NaN,NaN,NaN,NaN
engine_hp,10977.0,NaN,NaN,NaN,256.978501,108.764071,55.0,177.0,240.0,304.0,1001.0
engine_cylinders,10977.0,<NA>,<NA>,<NA>,5.67359,1.756015,3.0,4.0,6.0,6.0,16.0
transmission_type,10977,5,automatic,7967,NaN,NaN,NaN,NaN,NaN,NaN,NaN
driven_wheels,10977,4,front wheel drive,4362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_doors,10977.0,<NA>,<NA>,<NA>,3.473262,0.862251,2.0,3.0,4.0,4.0,4.0
vehicle_size,10977,3,compact,4239,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicle_style,10977,16,sedan,2787,NaN,NaN,NaN,NaN,NaN,NaN,NaN
highway_mpg,10977.0,NaN,NaN,NaN,26.436914,7.045915,12.0,22.0,26.0,31.0,354.0
city_mpg,10977.0,NaN,NaN,NaN,19.347272,5.635378,7.0,16.0,18.0,22.0,58.0
popularity,10977.0,NaN,NaN,NaN,1567.514257,1452.207938,2.0,549.0,1385.0,2009.0,5657.0
msrp,10977.0,NaN,NaN,NaN,43444.880568,61575.349088,2000.0,22995.0,31260.0,43500.0,2065902.0
engine_type,10977,1,combustion,10977,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **6.2 Feature Engineering**
This section introduces derived efficiency metrics to reduce redundancy between related variables and create more robust, analysis-ready features.

**total_mpg** : combines city and highway fuel efficiency into a single metric to reduce redundancy and provide a more holistic measure of overall vehicle fuel efficiency.

**price_per_hp** : relates vehicle price to engine power to provide a simple proxy for priceperformance efficiency across vehicles.

In [47]:
# Create total_mpg as the average of city and highway fuel efficiency
df_car_analysis["total_mpg"] = (
    df_car_analysis[["city_mpg", "highway_mpg"]].mean(axis=1)
)
df_car_analysis[["city_mpg", "highway_mpg", "total_mpg"]].head(3)

   city_mpg  highway_mpg  total_mpg
0        19           26       22.5
1        19           28       23.5
2        20           28       24.0

In [50]:
# Create Price per Horsepower (avoid division by zero => min engine_hp = 55.0)
df_car_analysis["price_per_hp"] = (
    df_car_analysis["msrp"] / df_car_analysis["engine_hp"]
)
df_car_analysis[["msrp", "engine_hp", "price_per_hp"]].describe().T

                count          mean           std          min           25%           50%           75%           max
msrp          10977.0  43444.880568  61575.349088  2000.000000  22995.000000  31260.000000  43500.000000  2.065902e+06
engine_hp     10977.0    256.978501    108.764071    55.000000    177.000000    240.000000    304.000000  1.001000e+03
price_per_hp  10977.0    149.429283     97.190307     7.142857    116.461538    137.297297    164.583333  2.307692e+03

## **7. Exploratory Data Analysis**

### **7.1 Descriptive Statistics**
This section summarizes key numerical variables using descriptive statistics to provide an initial quantitative overview of vehicle performance, pricing, popularity, and fuel efficiency.

Mean and median values indicate the central tendency of key vehicle attributes, while the standard deviation highlights substantial variability in pricing, engine power, and fuel efficiency across the dataset.

In [52]:
# Calculate summary statistics (mean, median, standard deviation) for given columns
stats = df_car_analysis[
    [
        "engine_hp",
        "msrp",
        "popularity",
        "city_mpg",
        "highway_mpg",
        "total_mpg",
    ]
].agg(["mean", "median", "std"])

stats.round(2)

        engine_hp      msrp  popularity  city_mpg  highway_mpg  total_mpg
mean       256.98  43444.88     1567.51     19.35        26.44      22.89
median     240.00  31260.00     1385.00     18.00        26.00      22.00
std        108.76  61575.35     1452.21      5.64         7.05       6.06

### **7.2 Group-Based Analysis**
This section analyzes how average vehicle price and popularity differ across key categorical attributes to identify structural differences between drivetrain types, vehicle sizes, and engine configurations.

Grouped averages highlight systematic differences in vehicle pricing and popularity across drivetrain configurations, size segments, and engine cylinder counts, providing an initial indication of market structure.

In [53]:
# Group the data by driven_wheels and calculate the average msrp and popularity
df_car_analysis.groupby("driven_wheels")[["msrp", "popularity"]].mean().round(2)

                       msrp  popularity
driven_wheels
all wheel drive    59397.28     1510.26
four wheel drive   38460.88     1760.02
front wheel drive  24639.13     1398.34
rear wheel drive   60492.50     1772.70

In [54]:
# Group the data by vehicle_size and calculate the average msrp and popularity
df_car_analysis.groupby("vehicle_size")[["msrp", "popularity"]].mean().round(2)

                  msrp  popularity
vehicle_size
compact       37784.34     1473.16
large         56786.95     1906.31
midsize       40902.68     1452.50

In [55]:
# Group the data by engine_cylinders and calculate the average msrp and popularity
df_car_analysis.groupby("engine_cylinders")[["msrp", "popularity"]].mean().round(2)

                        msrp  popularity
engine_cylinders
3                   13547.00      791.95
4                   25548.03     1435.98
5                   22858.33      856.42
6                   36503.34     1694.27
8                   65559.78     1756.04
10                 184123.82     1830.03
12                 290142.19      830.33
16                1757223.67      820.00

## **8. Visual Analysis**

## **9. Correlation Analysis**

## **10. Key Insights and Conclusion**